* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.head {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}

.imglogo {
  width: 100px;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-property: transform;
}

.imglogo:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(images/back-login.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* font-family: "Rubik", sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(
    135deg,
    rgba(66, 153, 225, 0.1) 0%,
    rgba(159, 122, 234, 0.1) 100%
  );
}

header {
  text-align: center;
  margin-bottom: 0.5rem;
  animation: fadeInDown 1s ease-out;
}

header h1 {
  font-size: 3.5rem;
  font-weight: 700;
  background: linear-gradient(135deg, #4299e1 0%, #9f7aea 50%, #ec4899 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.subtitle {
  font-size: 2.2rem;
  font-weight: 700;
  color: #4a5568;
  opacity: 0.8;
}

/* body {
        min-height: 100vh;
        position: relative;
        overflow-x: hidden;
      } */

.login-form {
  background: #fff;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}

.login-form h1 {
  font-size: 2rem;
  padding: 35px 35px 0 35px;
  font-weight: 300;
}

.login-form .content {
  padding: 35px;
  text-align: center;
}

.login-form .input-field {
  padding: 12px 5px;
}

.login-form .input-field input {
  font-size: 16px;
  display: block;
  /* font-family: "Rubik", sans-serif; */
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.login-form .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input::-moz-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}

.login-form .input-field input::placeholder {
  text-transform: uppercase;
}

.login-form .input-field input:focus {
  border-color: #222;
}

.login-form a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}

.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.login-form .action a {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: linear-gradient(135deg, #4299e1, #9f7aea);
  color: black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  border-radius: 0 0 10px 10px;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
}

.login-form .action a:hover {
  background: linear-gradient(135deg, #4299e1, #9f7aea);
}

#menuX {
  border: 2px solid #4299e1;
  width: 20vw;
  text-align: center;
  height: 4vh;
  border-radius: 10px;
}

#menuX option {
  width: 20vw;
  text-align: center;
  color: black;
}

#menuX option:hover {
  background-color: white;
  color: black;
}

#menuX:hover {
  border: 2px solid #4299e1;
  border-radius: 10px;
}

#menuX:focus {
  border: 2px solid #4299e1;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  #menuX {
    width: 30vw;
  }

  #menuX option {
    width: 30vw;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  #menuX {
    width: 60vw;
  }

  #menuX option {
    width: 60vw;
    text-align: center;
  }
}
